@font-face {
  font-family: 'Silkscreen';
  src: url('../fonts/Silkscreen-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monocraft';
  src: url('../fonts/Monocraft.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PixeloidMono';
  src: url('../fonts/PixeloidMono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
